<br />
<br />
<br />
	<h3>Welcome to the Battleship World Cup 2014</h3>
<br />
<br />
	<%= session[:player_name] %>, you are about to enter the battlefield.
<br />
	When you're ready, click play to begin.

	<form method='get' action="/battlefield">
		<input value="play!" type="submit" />
	</form>