/* Styling for 3-column layout */

body {
	background-color: #fff;
	text-align: center;
	font-family: arial;
	margin: 0px;
	padding: 0px;
	border: 0px;
}

#wrapper { 
	width: 980px; 
	background: silver; 
	margin: 0 auto; 
}   

#header { 
	background: red; 
	color: white; 
}   

#column-left { 
	width: 270px; 
	float: left; 
	background: orange; 
	text-align: justify;
}   

#column-center { 
	width: 355px; 
	float: left; 
	background: yellow; 
}   

#column-right { 
	width: 355px; 
	float: left; 
	background: green; 
} 

#footer { 
	clear: both; 
	background: purple;
} 

/* Battlebase styling */
	.gameboard {
    float: left;
    width: 30px;
    height: 297px;
    border: 1px solid blue;
    overflow: hidden;
}

	.row {
    width: 30px;
    height: 25px;
    border: 1px solid blue;
	}
/* Battlefield styling */

h1 {
    position:relative;   
}

h2 {
    position:relative;  
}

h3 {
    position:relative; 
}

#boardgame { 
	clear: both; 
	background: #fff;
} 

canvas {
    position:relative;
    background-color: salmon;  
}